<!DOCTYPE html>
<html>
<head>
  <title>Pizza Shop</title>
  <link rel="stylesheet" href="/style.css">
  <link href="https://fonts.googleapis.com/css?family=Italiana" rel="stylesheet">
</head>
<body>
    <nav>
      <ul>
        <li><a class="green" href="/pizza-orders">Pizza Orders</a></li>
        <li><a class="red" href="/pizza-orders/new">Create New Order</a></  li>
      </ul>
    </nav>
  <%= yield %>
</body>
</html>
